<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag 'nav', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'login.js', 'data-turbolinks-track': 'reload', async: true %>
<%= javascript_include_tag 'side-nav', 'data-turbolinks-track': 'reload', async: true %>
  <title>Login</title>
</head>
<body>
<div id="myNav" class="overlay">
<div class="nav-head">
    <img src="../assets/event.png" alt="">
    <a href="javascript:void(0)" class="closebtn" id="closeNav">&times;</a>
</div>
<div class="overlay-content">
    <% if @current.nil? %>
    <div class="overlay-link" id="login-overlay">
        <a href="/login"></a>
        <p>Login</p><p>></p>
    </div>
    <% end %>
    <% if @current.nil? %>
    <div class="overlay-link" id="signup-overlay">
        <a href="/signup" ></a>
        <p>Register</p><p>></p>
    </div>
    <% end %>
    <% unless @current.nil? %>
    <div class="overlay-link" id="logout-overlay" >
      <a href="/logout" class="logout"></a>
      <p>Logout</p><p>></p>
    </div>
    <% end %>
    <div class="overlay-link">
        <a href="/"></a>
        <p>Event List</p><p>></p>
    </div>
    
</div>
</div>
<nav>
<img src="../assets/event.png" alt="">

<div class="links">
    <img src="../assets/hamburger-ico.png" href="#" id="openNav">
</div>
<div class="desktop-links">
    <% if @current.nil? %>
    <a href="/login" id="login">Login</a>
    <% end %>
    <% if @current.nil? %>
    <a href="/signup" id="signup">Sign-up</a>
    <% end %>
    <% unless @current.nil? %>
    <a href="/logout" id="logout" class="logout">Logout</a>
    <% end %>
    <a href="/">Event List</a>
</div>
</nav>
    <div class="main-container">
  <div class="container">
    <form class="registration-form" id="form">
      <h2>Log-in</h2>
      <p id="LoginError" class="error"></p>
      <div class="form-group">
        <input type="text" name="username" placeholder="Username" id="username" required>
        <p id="user-error" class="error"></p>
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password" id="password" required>
        <p id="password-error" class="error"></p>
      </div>
      <div class="form-group">
        <button type="submit">Log-in</button>
      </div>
    </form>
  </div></div>
</body>
</html>