<div class="profile-container">
    <div class="profile-image">
    <%= image_tag url_for(people.profilepicture) %>
    </div>
    <div class="profile-name"><%= people.firstname+" "+people.lastname %></div>
</div> 