h1 {
  border-bottom: 1px solid white;
}

nav {
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
nav input[type=text] {
  border-radius: 4px;
  width: 60%;
}
nav img {
  margin-left: 5%;
  width: 135px;
  height: 60%;
}
nav .title {
  font-weight: bold;
  font-size: 1rem;
}
nav .links {
  display: flex;
}
@media screen and (min-width: 768px) {
  nav .links {
    display: none;
  }
}
nav .links a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  width: 20%;
}
nav .links img {
  width: 2.5rem;
  height: 1rem;
  cursor: pointer;
  margin-right: 20px;
}
nav .desktop-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
@media screen and (max-width: 768px) {
  nav .desktop-links {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  nav .desktop-links {
    width: 30%;
  }
}
nav .desktop-links a {
  text-decoration: none;
  color: #000;
  transition: all .2s ease-in-out;
}

nav .desktop-links a:hover {
  transform: scale(1.1); 
  color:#7438f7;
}

.overlay {
  height: 100%;
  width: 100%;
  transform: translate(-100%);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: white;
  overflow-x: hidden;
  transition: 0.2s;
  padding: 1%;
}
.overlay .nav-head {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
}
.overlay .nav-head img {
  width: 35%;
  height: 20%;
}
.overlay .nav-head a {
  margin-right: 7%;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  color: black;
  display: block;
  transition: 0.3s;
}
.overlay p {
  font-size: 24px;
}

.overlay-content {
  position: relative;
  top: 8;
  width: 90%;
  margin-top: 30px;
}
.overlay-content .overlay-link {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(215, 212, 212);
  margin-bottom: 6%;
  margin-left: 3%;
  position: relative;
}
.overlay-content .overlay-link a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.error {
  font-size: 12px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

#snackbar {
  visibility: hidden;
  min-width: 250px; 
  margin-left: -125px; 
  background-color: #333;
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1;
  left: 50%; 
  bottom: 30px; 
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s 1s, fadeout 0.5s 1s;
}


@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 0.7;}
}


@keyframes fadeout {
  from {bottom: 30px; opacity: 0.7;}
  to {bottom: 0; opacity: 0;}
}